﻿@{
    ViewBag.Title = "Index";
}

<h2>Attendance Tracker</h2>


<div class="text-center">
    <h2>Employee List</h2>
    @(Html.Kendo().Grid<EmployeeTracker.DTO.Client.EmployeeDTO>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.EmployeeID).Width(100);
            columns.Bound(c => c.FirstName).Width(100).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.LastName).Width(100);
            columns.Bound(c => c.HireDate).Width(100).Format("{0: yyyy-MM-dd HH:mm:ss}");

        })
        .ToolBar(t => t.Search())
        .Search(search => { search.Field(f => f.FirstName); search.Field(f => f.LastName); })
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Pageable()
        .Sortable()
        .Scrollable()
        .ClientDetailTemplateId("template")
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Employee_Details", "Attendance"))
    )
    .Events(events => events
                .DataBound("dataBound")
                )
    )
</div>


<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=EmployeeID#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add().Text("Attendance").Content(@<text>

                            @(Html.Kendo().Grid<EmployeeTracker.DTO.Client.AttendanceDTO>()
                                .Name("grid_#=EmployeeID#")
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.AttendanceID).Title("ID").Width(100);
                                  
                                    columns.Bound(o => o.OffDate).Width(150).Format("{0: yyyy-MM-dd HH:mm:ss}");
                                    columns.Bound(o => o.AttendanceType).Title("Off Type").ClientTemplate("\\\\#=AttendanceType.Description\\\\#").Width(190);
                                    columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                                })
                                .ToolBar(toolbar => toolbar.Create())
                                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("test").DisplayDeleteConfirmation("Test"))
                                .DataSource(dataSource => dataSource
                                    .Ajax()

                                    .PageSize(5)
                                    .Read(read => read.Action("Employee_Details_Attendance", "Attendance", new { employeeID = "#=EmployeeID#" }))

                                    .Events(events => events.Error("error_handler"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.EmployeeID);
                                        model.Field(p => p.AttendanceID).Editable(false);
                                        model.Field(p => p.OffDate);
                                        model.Field(p => p.AttendanceType).DefaultValue(
                                                                    ViewData["defaultAttendanceTypes"] as EmployeeTracker.DTO.Client.AttendanceTypeDTO);
                                    }
                                    )
                                    .Create(update => update.Action("EditingInline_Create", "Attendance"))
                                    .Update(update => update.Action("EditingInline_Update", "Attendance"))
                                    .Destroy(update => update.Action("EditingInline_Destroy", "Attendance"))
                                )
                                .Pageable()
                                .Sortable()
                                .ToClientTemplate())
                </text>);


})
.ToClientTemplate()
)
</script>

<script>
    function dataBound(e) {
        var grid = e.sender;
        grid.tbody.find("tr.k-master-row").click(function (e) {
            var target = $(e.target);
            if ((target.hasClass("k-i-expand")) || (target.hasClass("k-i-collapse"))) {
                return;
            }

            var row = target.closest("tr.k-master-row");
            var icon = row.find(".k-i-expand");

            if (icon.length) {
                grid.expandRow(row);
            } else {
                grid.collapseRow(row);
            }
        })
    }
</script>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>